<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="simple_arm_3dof">

  <!-- Importar descripción y control -->
  <xacro:include filename="$(find mi_br)/urdf/simple_arm_description.urdf.xacro"/>
  <xacro:include filename="$(find mi_br)/urdf/simple_arm_ros2_control.xacro"/>
  <xacro:simple_arm_ros2_control name="SimpleArmHardware" prefix="" use_gazebo="true"/>
  <!-- Instanciar descripción -->
<xacro:simple_arm parent="world" prefix="">
  <origin xyz="0 0 0" rpy="0 0 0"/>
</xacro:simple_arm>


  <!-- Instanciar control -->
  <xacro:simple_arm_ros2_control name="simple_arm" prefix="" use_gazebo="true"/>
  
</robot>

